[submodule "deps/reshade"]
	path = deps/reshade
	url = https://github.com/cot6/reshade.git
[submodule "deps/reshade.v10"]
	path = deps/reshade.v10
	url = https://github.com/cot6/reshade.git
[submodule "deps/reshade.v12"]
	path = deps/reshade.v12
	url = https://github.com/cot6/reshade.git
[submodule "deps/reshade.v14"]
	path = deps/reshade.v14
	url = https://github.com/cot6/reshade.git
[submodule "deps/vcpkg"]
	path = deps/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "deps/fpng"]
	path = deps/fpng
	url = https://github.com/richgel999/fpng.git
[submodule "deps/utfcpp"]
	path = deps/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
	fetchRecurseSubmodules = false
