*.cpp     text encoding=utf-8-bom eol=crlf
*.hpp     text encoding=utf-8-bom eol=crlf
*.ps1     text encoding=utf-8-bom eol=crlf
*.sln     text encoding=utf-8     eol=crlf
*.vcxproj text encoding=utf-8     eol=crlf
